.admin-container {
    padding-left: 20px;
}

.admin-container .product-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    transition: width 0.4s ease-in-out;
    width: 50%;
}

.admin-container .product-form .add-button {
    background-color: rgb(186, 176, 230);
    width: 100px;
    height: 30px;
    padding: auto;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
}

.admin-container .product-form .product-description {
    height: 100px;
}