.filtering {
  background:linear-gradient(pink, rgb(230, 225, 231));
}

.filter-sort{
  font: Helvetica ;
}

.filter-size{
  font: Helvetica ;
}

#pageTitle{
    display: none;
  }

#pageTitle p{
    color: purple;
    font-size: 48px;
    font-weight: 100;
  }

 #pageTitle{
    display: block;
  }

  .filtering_row {
    display: flex; 
    flex-direction:row;
    z-index: -1; 
    margin-top:50px;
    margin-left: 5px; 
    margin-right: 5px; 
  }


  .filtering_container {
    position:relative;
    align-items:center;
    justify-content: center;
    background:scroll;
  }