/* 
- div; multiple lines of code 
- span; for one line of code, apply styling for inline content 
 */
/* this is for the header as a whole */

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(171, 174, 204);
    position: sticky;
    top: 0;
    z-index: 100;
}


/* this is for the logo  */

.header__logo {
    width: 200px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}


/* this is going to be the search bar sizing */

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}


/* this is the white search box size */

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 70%;
}


/* search icon logo */

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #9e81a3;
}

.header__optionLineOne {
    font: oblique;
    font-size: 10px;
}

.header__optionLineTwo {
    font: oblique;
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}


/* change the position of the options in the header (hello Guest, order, etc. */

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}