

/* this is going to be limiting the screen size of the website */
.home{

    display: flex; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
} 

/* using the entire row for the product */
.home__row {
    display: flex; 
    z-index: 1; 
    margin-left: 5px; 
    margin-right: 5px; 

}


.home__image{
    width: 100%;
    /* the z index indicates that this is going to be the background, behind everything */
    z-index: -1;
    /* margin-top:300px; */
    
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

}