html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.btn-primary {
    color: white;
    background-color: dimgray;
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    opacity: 70%;
}

.cart-container{
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 1.5em;
}
.section-header {
    text-decoration: underline;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 0px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.product-quantity {
    min-width: 20px;
    text-align: center;
}
.btn-remove {
    margin-left: 30%;
    font-size: 1em;
    background-color: #ff6666;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 30%;
}
.x-remove{
    color: white;
}
.btn-remove:hover {
    background-color: #ff5050;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 2px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}



.cart-summary {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: auto;
}
.cart-summary table{
    width: 100%;
    max-width: 400px;
}
.cart-summary table tr{
    margin-top: 10px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


@media only screen and (max-width: 600px) {
    .cart-item-title{
        display: none;
    }

}


.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    color: whitesmoke;
}