@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    height:100vh;
    margin: 0;
}
.navbar{
    background: #ECECEC;
}
.navbar .navbar-container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 0;
    margin: auto;
}
.navbar-container .navbar-right{
    flex: 1;
    text-align: right;
    font-size: 25px;
    max-height: 140px;
}
.navbar-container .navbar-right .navbar-right-top .cart-icon:hover{
    opacity: 60%;
}
.navbar-container .navbar-right .navbar-right-top ul{
    max-width: 320px;
    padding-left: 0;
}
.navbar-container .navbar-right .navbar-right-top ul li{
    margin-right: 30px;
    font-weight: bold;
}
.navbar-container .navbar-right .navbar-right-top ul li a:hover{
    color: grey;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li img{
    top: 25px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

/*------menu----------*/
.menu{
    padding: 3px;
    margin: 0 auto;
    max-height:70px;
    min-width: 30%;
    background: dimgrey;
}
.menu-bar{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    Letter-spacing: 2px;
    Position: relative;
    margin: 0 auto;
}
.menu a {
    text-decoration: none;
}
.menu nav {
    font-family: monospace;
}
.menu ul {
    margin-top: 5px;
    background: dimgrey;
    list-style: none;
    text-align: center;
    min-width: 25%;
    padding-left: 0;
    margin-bottom: 2px;
}
.menu li {
    min-width: 100px;
    color: white;
    background: dimgrey;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}
.menu li a {
    color: #fff;

}
.menu li div{
}
#menu-contact{
    font-size: 15px;
}
#menu-contact:hover{
    color: #fff;
}
.menu li:hover {
    background: grey;
    cursor: pointer;
}
.menu ul li ul {
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    max-width: 100px;
    margin-left: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
.menu ul li:hover > ul,
.menu ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu ul li ul li {
  clear: both;
  width: 100%;
    min-width: 100px;
}

/*------banner----------*/
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.banner-container .banner{
    background-image: url(../images/banner.jpg);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
}
.banner-container .banner .content .declaration{
    background-color: rgba(0, 102, 51, .55);
    padding: 1px;
    color: whitesmoke;
}
.banner-container .banner .content h3{
    color: whitesmoke;
    font-size: 45px;
    line-height: 20px;
}
.banner-container .banner .content .btn{
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background: #000000;
    color: #fff;
    margin: 30px auto;
    text-decoration: none;
}
.banner-container .banner .content .btn:hover{
    text-decoration: underline;
}

/*------deals----------*/
.deals{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;

}
.deals .deals-header{
    bottom: 0;
}
.deals .deals-header h2{
    height: 50px;
    margin-bottom: 10px;
}
.deals .deals-header a h4{
    margin-top: 10px;
    top: 0;
    text-align: right;
}
.categories .categories-header a h4 i{
    font-size: 20px;
    color: darkred;
}
.deals .deals-header a h4:hover{
    bottom: 0;
    color: #555;
    text-decoration: underline;
}
.deals-col{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 50px;
}
.deals-col a img{
    margin-bottom: 5px;
}
.deals-col a h4{
    font-size: 18px;
    margin-top: 0;
    min-width: 220px;
    border-bottom: 2px solid #8a8a8a;
    margin-bottom: 10px;
}
.new-price{
    font-size: 20px;
    color: black;
}
.deals-col p{
    margin: 0 auto;
}
.deals-col:hover{
    opacity: 80%;
}
.deals-col img{
    width: 100%;
}
.title{
    border-bottom: 3px solid dimgrey;
    color: #555;
    line-height: 60px;
    margin: 0 auto 80px;
}

/*------categories----------*/
.categories{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;

}
.categories .categories-header{
    bottom: 0;
}
.categories .categories-header h2{
    height: 50px;
    margin-bottom: 10px;
}
.categories .categories-header a h4{
    margin-top: 10px;
    top: 0;
    text-align: right;
}
.categories .categories-header a h4 i{
    font-size: 20px;
    color: darkred;
}
.categories .categories-header a h4:hover{
    bottom: 0;
    color: #555;
    text-decoration: underline;
}
.categories-row:hover{
    opacity: 80%;
}
.categories-row{
    flex-basis: 25%;
    padding: 10px;
    min-width: 100px;
    max-width: 195px;
    min-height: 210px;
    max-height: 210px;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: center;
}
.categories-row a{
    text-align: center;
}
.categories-row a img{
    margin-bottom: 5px;
    width: 125px;
    height: 125px;
}
.categories-row a h4{
    font-size: 15px;
    margin-top: 0;
    min-width: 100px;
    margin-bottom: 0;
    text-align: center;
}
.categories-row a h4 i{
    margin-top: 20px;
}

/*------footer----------*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer{
    background: #404040;
    color: #8a8a8a;
    font-size: 14px;
    padding: 30px 120px 35px;
}
.footer .footer-container .footer-row{
    margin: 0 auto;
    position: relative;
    min-width: 135px;
    max-width: 1300px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer .footer-container .footer-row h3{
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 20px;
}
.col1-footer, .col2-footer, .col3-footer, .col4-footer{
    min-width: 300px;
    margin-bottom: 20px;
    text-align: center;
}
.col3-footer{
    flex: 1;
    max-width: 300px;
}
.col3-footer img{
    width:190px;
    margin-bottom: 20px;
}
.col1-footer, .col2-footer, .col4-footer{
    flex-basis: 12%;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}
.footer .footer-container .footer-row ul{
    padding-left: 0;
    align-items: center;
}
.footer .footer-container .footer-row ul li{
    list-style-type: none;
    text-align: center;
}
.footer .footer-container .footer-row ul li a{
    color: #fff;
}
.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    color: whitesmoke;
}

/*------products----------*/
.products{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;

}
.products .products-header{
    bottom: 0;
}
.products .products-header h2{
    height: 50px;
    margin-bottom: 10px;
}
.products .products-header a h4{
    margin-top: 10px;
    top: 0;
    text-align: right;
}
.categories .categories-header a h4 i{
    font-size: 20px;
    color: darkred;
}
.products .products-header a h4:hover{
    bottom: 0;
    color: #555;
    text-decoration: underline;
}
.products-col{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 50px;
}
.products-col a img{
    margin-bottom: 5px;
}
.products-col a h4{
    font-size: 18px;
    margin-top: 0;
    min-width: 220px;
    border-bottom: 2px solid #8a8a8a;
    margin-bottom: 10px;
}
.new-price{
    font-size: 20px;
    color: black;
}
.products-col p{
    margin: 0 auto;
}
.products-col:hover{
    opacity: 80%;
}
.products-col img{
    width: 100%;
}
.title{
    border-bottom: 3px solid dimgrey;
    color: #555;
    line-height: 60px;
    margin: 0 auto 80px;
}

/*------responsible----------*/
@media only screen and (min-width: 992px) {
    .navbar{
        height: 100px;
    }
    .show{
        display: none;
    }
    .menu{
        height: 70px;
    }
    .footer{
        height: 370px;
    }

}

@media only screen and (min-width: 830px) and (max-width: 992px) {
    .navbar{
        height: 100px;
    }
    .show{
        display: none;
    }
    .menu{
        height: 100px;
    }
    .footer{
        height: 650px;
    }
}

@media only screen and (max-width: 830px){
    .navbar{
        height: 90px;
    }
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    .menu{
        height: 140px;
    }
    .footer{
        height: 660px;
    }
    .footer-row{
        margin: 0;
    }
    .navbar-left img{
        width: 80px;
    }
    .col3-footer img{
        width: 150px;
    }
}